*
{
    margin: 0;
    padding: 0;
}
.clear
{
    clear: both;
}

header, section, nav, aside, footer
{
    display:block;
}

html, body
{
    width: 100%;
    height: 100%;
}

#wrapper
{
    width: 100%;
    height: 100%;
    margin: 0 auto; /*0 reefer to vertical margin; auto reefer to horizontal margin*/
    background-color: #000000;
}

#logo
{
    position: absolute;
    top: 50px;
    left: 50px;
    background-image: url("../images/logo.png");
    width: 257px;
    height: 32px;
    z-index: 1;
}

#miniMapFrame
{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 326px;
    height: 246px;

    background-image: url("../images/miniMapFrame.png");
}

#miniMap
{
    position: absolute;
    bottom: 13px;
    left: 13px;
    width: 300px;
    height: 220px;
}

#destinationHighlight
{
    position: absolute;
    bottom: 13px;
    left: 13px;
    width: 300px;
    height: 220px;
    background-image: url("../images/destinationHighlight.png");
}

#mainMap
{
    height: 100%;
    width: 100%;
}

#zoomOutButton
{
    background-image: url("../images/zoomOutButton.png");
    height: 38px;
    width: 38px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.infoWindow{
    width: 252px;
    height: 85px;
}

.infoLeftButton{
    background-image: url("../images/infoLeftButton.png");
    width: 33px;
    height: 79px;
    margin-left: 3px;
    margin-top: 3px;
    float: left;
}

.infoLeftButton:hover, .infoRightButton:hover{
    width: 36px;
    height: 85px;
    margin-left: 0px;
    margin-top: 0px;
    background-size: 100%;
}

.infoBody{
    width: 178px;
    height: 79px;
    margin-top: 3px;
    float: left;
    text-align: center;
    border-left: solid 1px #3b3b3b;
    border-right: solid 1px #3b3b3b;
}

.infoBodyDesktopIcon, .infoBodyTabletIcon, .infoBodyMobileIcon{
    position: absolute;
    right: 33px;
    bottom: 0;
    width: 52px;
    height: 45px;
}

.infoBodyDesktopIcon{
    background-image: url("../images/desktopIcon.png");
}

.infoBodyTabletIcon{
    background-image: url("../images/tabletIcon.png");
}

.infoBodyMobileIcon{
    background-image: url("../images/mobileIcon.png");
}

.infoRightButton{
    background-image: url("../images/infoRightButton.png");
    width: 33px;
    height: 79px;
    margin-top: 3px;
    float: left;
}

#filtersButtons
{color: #ffffcc;
    position: absolute;
    bottom: 50px;
    right: 50%;
    background-image: url("../images/filtersBackground.png");
    height: 71px;
    width: 169px;
}

#filterDayNight
{
    position: absolute;
    top: 16px;
    width: 82px;
    height: 57px;
    background-image: url("../images/filterDayNight.png");
    background-size:100% 100%;
}

#filterDayNight:hover
{
    top: 14px;
    left: -2px;
    width: 86px;
    height: 61px;
    cursor: pointer;
}

#filterDevice
{
    position: absolute;
    left: 82px;
    top: 16px;
    width: 82px;
    height: 57px;
    background-image: url("../images/filterDevice.png");
    background-size:100% 100%;
}

#filterDevice:hover
{
    top: 14px;
    left: 80px;
    width: 86px;
    height: 61px;
}

#pageHeader{
    height: 100px;
    width: 100%;
}

.slider-date
{
    color: #aaaaaa;
    font-size: 11px;
    position: absolute;
    top: -10px;
}

#apr{
    left: -4px;
}

#may{
    left: 114px;
}

#jun{
    left: 232px;
}

#jul{
    left: 351px;
}

#slider-range
{
    background: url("../images/sliderBackground.png");
    border: none;
    width: 369px !important;
    height: 71px;
    right: 200px;
    bottom: 45px;
    z-index: 1;
    margin: 0 !important;
    position: absolute;
}
.ui-slider-handle
{
    background: url("../images/sliderButton.png") !important;
    border: none !important;
    top: 14px !important;
    width: 14px !important;
    height: 13px !important;
    outline: none;
}

.leftHandle
{
    margin-left: -15px !important;
}

.rightHandle
{
    margin-left: 1px !important;
}

.ui-slider-range
{
    background-color: #fdfdfd !important;
    height: 3px !important;
    top: 19px !important;
    max-width: 360px;
}

#amount
{
    position: absolute;
    top: 38px;
    left: 100px;
    z-index: 1;
    font-size: 12px;
    font-weight: 600;
    text-indent: 20px;
    padding-top: 2px;
}

#about
{
    color: #d7d7d7;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 315px;
    height: 320px;

    font-family: 'courier', sans-serif;
}

#signInSection
{
    color: #565656;
    position: absolute;
    top: 450px;
    left: 50px;
    width: 315px;
}

.signInLabel
{
    font-family: 'Open Sans', sans-serif;
}

#signIn
{
    color: #474747;
    background-color: #e6e6e6;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    float: left;
    width: 315px;
    height: 32px;
}

#signDiffAccount
{
    background: url("../images/signDiffAccount.png") no-repeat;
    float: left;
    width: 197px;
    height: 35px;
}


