*
{
    margin: 0;
    padding: 0;
}

.clear
{
    clear: both;
}

header, section, nav, aside, footer
{
    display:block;
}

html, body
{
    width: 100%;
    height: 100%;
}

#wrapper
{
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 0 auto; /*0 reefer to vertical margin; auto reefer to horizontal margin*/
    background-color: #326c99;
}

#miniMapFrame
{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 326px;
    height: 246px;
    
    background-image: url("../images/miniMapFrame.png");
}

#miniMap
{
    position: absolute;
    bottom: 13px;
    left: 13px;
    width: 300px;
    height: 220px;
}

#mainMap
{
    height: 100%;
    width: 100%;
}

#zoomOutButton
{
    background-image: url("../images/zoomOutButton.png");
    height: 38px;
    width: 40px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    border: solid black;
}

.infoWindow{
    width: 252px;
    height: 85px;
}

.infoLeftButton{
    background-image: url("../images/infoLeftButton.png");
    width: 33px;
    height: 79px;
    margin-left: 3px;
    margin-top: 3px;
    float: left;
}

.infoLeftButton:hover, .infoRightButton:hover{
    width: 36px;
    height: 85px;
    margin-left: 0px;
    margin-top: 0px;
}

.infoBody{
    background-image: url("../images/infoBody.png");
    width: 180px;
    height: 79px;
    margin-top: 3px;
    float: left;
    text-align: center;
}

.infoRightButton{
    background-image: url("../images/infoRightButton.png");
    width: 33px;
    height: 79px;
    margin-top: 3px;
    float: left;
}